#calculadora {
    background: rgb(7, 92, 78);
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(25, 190, 135);
}
.spMes {
    border-color: black;
    border-width: 1px;
    border-style: dashed;
    background: blanchedalmond;
    color: red;
    text-align: start;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;

}
#calculadora input:focus {
    background: black;
    color: white;
}
#calculadora input {
    background: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
#sptotal {
    background: black;
    color: rgb(18, 165, 55);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#calculadora button {
    background: rgb(12, 148, 125);
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
#calculadora button:hover {
    background: rgb(4, 39, 33);
    color: white;
    cursor: pointer;
}
h3 {
    color: rgb(43, 168, 127);
}
.calcF {
    display: none;
}
#input-calcF {
    display: none;
}
#input-calcF:checked + #calculadora  .calcF {
    display: block;
}
